<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Portal</title>
    <script src="ext/js/jquery.js"></script>
    <script src="ext/js/jsrender.js"></script>
    <script src="ext/js/jso.js"></script>
    <script src="js/portal.js"></script>
    <link rel="stylesheet" type="text/css" href="css/default.css">
  </head>

  <body>

    <h1>My Apps</h1>

    <ul id="installedApplications">
    </ul>

    <h1>Available Apps</h1>

    <ul id="availableApplications">
    </ul>

    <script id="installedApplicationsTemplate" type="text/x-jsrender">
        <li class="launchApplication" title="{{:description}}" data-client-name="{{:name}}" data-redirect-uri="{{:redirect_uri}}" data-client-id="{{:id}}">
        {{if icon}}
               <img src="{{:icon}}">
        {{else}}
               <img src="assets/HTML5_Logo_128.png">
        {{/if}}
        <span>{{:name}}</span></li>
    </script>

    <script id="availableApplicationsTemplate" type="text/x-jsrender">
        <li class="installApplication" title="{{:description}}" data-client-name="{{:name}}" data-redirect-uri="{{:redirect_uri}}" data-client-id="{{:id}}">
        {{if icon}}
               <img src="{{:icon}}">
        {{else}}
               <img src="assets/HTML5_Logo_128.png">
        {{/if}}
        <span>{{:name}}</span></li>
    </script>
   
  </body>
</html>

